html, body, #map-canvas { height: 83vh; width: 100vw; margin: 0; padding: 0;}

.auth-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
}

auth-overlay:-webkit-input-placeholder {
	color: #b5b5b5;
  }

auth-overlay-moz-placeholder {
	color: #b5b5b5;
}

.modal {
	width: 30vw;
	height: 25vh;
	line-height: 200px;
	position: fixed;
	top: 50%; 
	left: 50%;
	margin-top: -20vh;
	margin-left: -15vw;
	background-color: #4099FF;
	border-radius: 5px;
	text-align: center;
	z-index: 11;
}

.text-one {
	color: #0033CC;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}

.authenticate-prompt {
	width: 270px;
	padding: 15px 25px;
}

authenticate-prompt:-webkit-input-placeholder {
	color: #b5b5b5;
}

authenticate-prompt-moz-placeholder {
	color: #b5b5b5;
}

#footer-overlay {
	height: 17vh;
	width: 100vw;
	background-color: #4099FF;
	z-index: 3;
}
            
inputs:-webkit-input-placeholder {
	color: #b5b5b5;
}

inputs-moz-placeholder {
	color: #b5b5b5;
}

.inputs {
	width: 270px;
	padding: 15px 25px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	color: #9D9E9E;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
	background: #FFF;
	border: 1px solid #FFF;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

.centre {
	margin-left: 40vw;
	margin-top: 1.5vh;
}

.under-centre {
	margin-left: 40vw;
	margin-top: 1vh;
}

.buttons {
	width: 270px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 0.9em;
	color: #9D9E9E;
	background: #FFF;
	border: 1px solid #FFF;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}
